.text {
    &-effects-list {
        overflow: auto;
        max-height: 11rem;
        padding-right: 1rem;
        display: inline-block;
        font-size: 1.5rem;
        color: $color-white;

        li + li {
            margin-top: .5rem;
        }
    }
}